Package: sirrluks
Version: 1.0.0
Section: utils
Priority: optional
Architecture: arm64
Depends: python3, python3-gi, , polkitd, pkexec
Maintainer: Commander-Z3R0 <commander.Z3R0@proton.me>
Description: SirrOS LUKS password changer
 A simple CLI tool to change the disk encryption password on SirrOS.
